<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Id Column -->
  <ng-container matColumnDef="demo-id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="demo-name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.name}} </td>
  </ng-container>

  <!-- Adress Column -->
  <ng-container matColumnDef="demo-adress">
    <th mat-header-cell *matHeaderCellDef> Adress </th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.adress}} </td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="demo-age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.age}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="demo-status">
    <th mat-header-cell *matHeaderCellDef> Situation </th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.status}} </td>
  </ng-container>
  <!-- Calculo de média -->
  <ng-container matColumnDef="demo-media">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let aluno">
      <!-- <span hidden>{{(aluno.grade1 + aluno.grade2) / 2}}</span> -->
      <!-- <span>{{media(aluno.grade1, aluno.grade2)}}</span> -->

      <span *ngIf="(aluno.grade1 + aluno.grade2) /2 >= 7">
        <h3 class="aprovado">Aprovado!</h3>
      </span>

      <span *ngIf="(aluno.grade1 + aluno.grade2) /2 < 7">
        <h3 class="reprovado">Reprovado!</h3>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="demo-details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let aluno">
      <!-- <button mat-raised-button (click)="openDialog('0ms', '0ms')">More</button> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <h1 mat-dialog-title>Delete file</h1>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
  </div>
